[Unit]
Description=Deactivate the discrete graphic
After=systemd-modules-load.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/vgaswitcheroo.sh

[Install]
RequiredBy=multi-user.target
